* {
  margin: 0;
  padding: 0;
}

body {
/*  border: 1px solid red;*/
  font-family: "Open Sans", sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;     /*footer height*/
}

.card-body {
  font-family: "Indie Flower", sans-serif;
}

#link {
  text-decoration: none;
}

#footer {
/*  border: 1px solid red;*/
  position: absolute;
  bottom: 0;
/*  width: 100%;*/
  height: 5rem;             /*footer height*/
}

